[data-scope=scanlet-groups-edit] {

  .group-description {

    .index {
      width: 50px;
    }
  }

  .buttons {

    &:not(.no-padding) {
      padding: 5px 10px;
    }
  }

  .images_list {

    border: 1px solid lightgrey;
    border-radius: 3px;

    min-height: 50px;
    width: 100%;
  }

  .group-scans {
    .buttons {
      margin-bottom: 10px;
    }
  }

}