<div class="modal fade" id="multiple_images_upload_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{title}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="dropzone"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger cancel" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary save">OK</button>
            </div>
        </div>

    </div>
</div>