[data-scope=scanlet-projects] {

  padding-top: 25px;

  .toolbar {
    margin-bottom: 10px;
  }

  .project-item {
    margin-bottom: 15px;
  }

  .toolbar {
    text-align: right;
    padding: 3px 17px;
  }

  .listing-container {
    min-height: 150px;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
  }

  .project-item {
    border: 1px solid gray;
    border-radius: 5px;
    min-height: 50px;
    padding: 5px;

    img {
      max-height: 200px;
      max-width: 300px;
      margin: 0 auto;
      width: auto;
    }

    .media-left {
      min-width: 250px;
    }
    h4 {
      padding-left: 5px;
      border-bottom: 1px solid lightgray;
    }
    .description {
      padding: 5px;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgray;
    }
  }

}

[data-scope=scanlet-groups] {

  margin-top: 25px;

  #project-description {
    display: flex;
    .details {
      margin-left: 10px;
      width: 100%;
    }
    .cover {
      position: relative;
      .dropzone {
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 1;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .dz-message {
          background: white;
          border: 1px solid black;
          padding: 2px 5px;
        }
      }
      img {
        max-width: 300px;
        max-height: 450px;
      }
    }
    .title {
      border-bottom: 1px solid lightgray;
      [data-display] {
        width: 100%;
      }
    }
    .description {
      border: 1px solid lightgray;
      min-height: 100px;
      padding: 5px;
      [data-display] {
        width: 100%;
      }
    }
  }
  .item-wrapper {
    height: 50px;
    width: 100%;
    display: block;
    padding: 5px 15px;
    text-align: left;
    text-decoration: none;
  }
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
