<% content_for :header do %>
<%= javascript_pack_tag 'index' %>
<%= stylesheet_pack_tag 'index' %>
<%= javascript_pack_tag 'application' %>
<% end %>
<h1>Hello, world!</h1>
<button class="btn btn-danger">Button</button>