<div data-scope="scanlet-translations">
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @presenter.object.name %> ( <%= @presenter.object.id %> )</h1>
      <span><%= @presenter.object.index %></span>
    </div>
  </div>
</div>